.avatar-card {
    background-image: url('../../assets/img/morty-photo.png');
    background-size: cover;
}

.card-morty {
    display: flex;
}

.title-morty {
    padding-left: 10px;
    padding-top: 10px;
}